page-step-six {
    .toolbar-title-md {
        color: white !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white !important;
        background-color: transparent;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: white !important;
        background-color: transparent;
    }

    .toolbar-title-ios {
        color: white !important;
    }

    .title {
        color: white;
    }

    .title-page {
        text-align: center;
    }

    .buttons {
        box-shadow: 0 -2px 2px -2px #666 !important;
        background: whitesmoke;
        
        .step-btn {
            width: 47%;
        }
    }

    .item {
        padding-left: 0;

        .lbl {
            width: 15rem;
        }
    }

    .msg-confirm {
        margin-top: 1rem;

        .lbl-confirm {
            white-space: normal;
        }
    }
}