<ion-header>
    <ion-navbar>
        <ion-title class="title">Paso 3 de 7</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h4 class="title-page">Si tienes un archivo que ilustre mejor lo que quieres, súbelo aquí (Opcional)</h4>
    <div class="info">
        <i style="font-size: 10em;color: #08ad9f;" class="fa fa-file fa-3x" aria-hidden="true"></i>
        <div *ngIf="!_fileURI">
            <button ion-button outline (click)="getFile()" class="upload-btn">Seleccionar Archivo</button>
            <p>Se aceptan archivos en formato jpeg, jpg, Tiff.</p>
        </div>
        <div *ngIf="_fileURI">
            <p>Archivo a cargar:</p>
            <p class="image-uri">{{_fileURI}}</p>
            <button ion-button outline (click)="removeFile()" color="danger" class="upload-btn">Eliminar Archivo</button>
        </div>
    </div>
</ion-content>
<ion-footer padding class="buttons">
    <div align="center">
        <button ion-button outline class="step-btn" (click)="goToStepTwo()">Anterior</button>
        <button ion-button outline class="step-btn" (click)="goToStepFour()">Continuar</button>
    </div>
</ion-footer>