page-step-three {
    .toolbar-title-md {
        color: white !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white !important;
        background-color: transparent;
    }

    .toolbar-title-ios {
        color: white !important;
    }

    .title {
        color: white;
    }

    .title-page {
        text-align: center;
    }

    .buttons {
        box-shadow: 0 -2px 2px -2px #666 !important;
        background: whitesmoke;
        
        .step-btn {
            width: 48%;
        }
    }
}