page-contractor-options {
    .profile-icon {
        color: #08ad9f;
    }

    .inbox-icon {
        color: #098976;
    }

    .settings-icon {
        color: darkgray;
    }

    .logout-icon {
        color: red;
    }
}