<ion-header>
    <ion-navbar>
        <ion-title class="title">Paso 1 de 7</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3 class="title-page">Indica que quieres!</h3>
    <p class="msg">Sé muy preciso; entre mejor expliques lo que necesitas, menos tendremos que hacerte preguntas después. Indica para
        qué lo usarás, materiales, colores, medidas, etc...</p>
    <ion-input class="quotation" type="text" placeholder="Nombre Producto/Servicio"></ion-input>
    <div class="quotation">
        <ion-textarea class="quotation-desc" rows="8" placeholder="Escribe tu requerimiento"></ion-textarea>
        <div class="record-audio">
            <ion-fab class="record-btn" *ngIf="!_recording">
                <button ion-fab mini (click)="startRecord()">
                    <ion-icon name="mic"></ion-icon>
                </button>
            </ion-fab>
            <ion-fab class="record-btn" *ngIf="_recording">
                <button ion-fab mini (click)="stopRecord()">
                    <ion-icon name="mic-off"></ion-icon>
                </button>
            </ion-fab>
        </div>
    </div>
    <ion-list>
        <ion-item *ngFor="let audio of _audioList; index as i;">
            <p>{{audio.filename}}</p>
            <button ion-button clear item-end (click)="playAudio(audio.filename, i)">
                <ion-icon name="play"></ion-icon>
            </button>
            <button ion-button clear item-end color="danger">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer padding>
    <div align="center" class="buttons">
        <button ion-button outline class="step-btn" (click)="cancel()">Cancelar</button>
        <button ion-button outline class="step-btn" (click)="goToStepTwo()">Continuar</button>
    </div>
</ion-footer>