<ion-header>
    <ion-navbar>
        <ion-title class="title">Paso 1 de 7</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-fab right bottom *ngIf="!_recording">
        <button ion-fab (click)="startRecord()">
            <ion-icon name="mic"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom *ngIf="_recording">
        <button ion-fab (click)="stopRecord()">
            <ion-icon name="mic-off"></ion-icon>
        </button>
    </ion-fab>
    <h3 class="title-page">Indica que quieres!</h3>
    <p class="msg">Sé muy preciso; entre mejor expliques lo que necesitas, menos tendremos que hacerte preguntas después. Indica para
        qué lo usarás, materiales, colores, medidas, etc...</p>
    <ion-list>
        <ion-item class="item">
            <ion-label class="lbl" floating>Nombre Producto/Servicio</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="item">
            <ion-label class="lbl" floating>Escribe tu requerimiento</ion-label>
            <ion-textarea rows="6"></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let audio of _audioList; index as i;">
            <p>{{audio.filename}}</p>
            <button ion-button clear item-end (click)="playAudio(audio.filename, i)">
                <ion-icon name="play"></ion-icon>
            </button>
            <button ion-button clear item-end color="danger">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer padding>
    <div align="center" class="buttons">
        <button ion-button outline class="step-btn" (click)="cancel()">Cancelar</button>
        <button ion-button outline class="step-btn" (click)="goToStepTwo()">Continuar</button>
    </div>
</ion-footer>