page-step-one {
    .toolbar-title-md {
        color: white !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white !important;
        background-color: transparent;
    }

    .toolbar-title-ios {
        color: white !important;
    }
}