page-quotation {
    .scroll-content{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    .logo {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .msg {
        text-align: justify;
    }

    .ormigga-img {
        text-align: center;
        margin-bottom: 3rem;

        .calixto {
            max-width: 40%;
        }
    }

    .btn {
        width: 100%;
    }
}