page-proposal-detail {
    .toolbar-title-md {
        color: white !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white !important;
        background-color: transparent;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: white !important;
        background-color: transparent;
    }

    .toolbar-title-ios {
        color: white !important;
    }

    .title {
        color: white;
    }

    .icon-color {
        color: orange;
    }

    .description {
        font-weight: bold;
    }

    .description-detail {
        text-align: justify;
    }

    .items-title {
        font-weight: bold;
        text-align: justify;
    }

    .calification-icon {
        margin-top: 0.3rem;
    }

    .update-proposal {
        .badge {
            background-color: #0f4f7d;
        }

        .date {
            margin-top: 3px;
        }
    }

    .price {
        .desc {
            position: relative;
            text-align: right;

            .max-desc {
                position: absolute;
                font-size: x-large;
                margin-left: 3rem;
                color: white;
                font-weight: bold;
            }

            .img-desc {
                max-width: 50%;
            }
        }

        .min-value {
            text-align: right;

            .price {
                color: black;
                font-weight: bold;
                margin: 0;
                font-size: large;
            }
        }

        .value-without-discount {
            text-align: right;

            .price {
                margin: 0;
                color: #f44455;
                text-decoration: line-through;
            }
        }
    }
}