page-step-two {
    .toolbar-title-md {
        color: white !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white !important;
        background-color: transparent;
    }

    .toolbar-title-ios {
        color: white !important;
    }

    .title {
        color: white;
    }

    .title-page {
        text-align: center;
    }

    .img {
        margin-top: 5rem;
    }

    .buttons {
        display: flex;

        .step-btn {
            width: 50%;
        }
    }

    .item-description {
        font-weight: bold;
    }
}