<ion-header>
    <ion-navbar>
        <ion-title class="title">Paso 2 de 7</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-fab right bottom>
        <button ion-fab (click)="AddItem()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <h4 class="title-page">Define exactamente los ítems, cantidades y tu presupuesto</h4>
    <img *ngIf="_items.length === 0" class="img" src="assets/imgs/icono-card.png">
    <ion-card *ngFor="let item of _items; let i = index">
        <ion-card-content>
            <!--ion-icon name="trash" style="float: right;color: red" (click)="deleteItem(i)"></ion-icon-->
            <p class="item-description">{{item.description}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{item.quantity}} Unid</div>
                </button>
            </ion-col>
            <ion-col *ngIf="item.valSuggest">
                <button ion-button icon-left clear small>
                    <ion-icon name="cash"></ion-icon>
                    <div>$ {{item.valSuggest}}</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
<ion-footer padding>
    <div align="center" class="buttons">
        <button ion-button outline class="step-btn" (click)="goToStepOne()">Anterior</button>
        <button ion-button outline class="step-btn" (click)="goToStepThree()">Continuar</button>
    </div>
</ion-footer>